<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766333993459-213eh8nqhdmgigi7pmu1uv9rqlgs884p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766333993459-213eh8nqhdmgigi7pmu1uv9rqlgs884p</string>
	<key>API_KEY</key>
	<string>AIzaSyC8VlBgeMGPhQkUpSpx8MT1qQXoBVTANuI</string>
	<key>GCM_SENDER_ID</key>
	<string>766333993459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chriswithers456.TripPlanner</string>
	<key>PROJECT_ID</key>
	<string>tripplannertest-44d17</string>
	<key>STORAGE_BUCKET</key>
	<string>tripplannertest-44d17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766333993459:ios:d624054a493b137f415286</string>
</dict>
</plist>